* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.contenitore {
    width: 2000px;
}

header {
    height: 80px;
}

.logo{
    display: inline-block;
    margin-left: 20px;
    height: 100%;
    vertical-align: middle;
    padding-top: 15px;
}

.title{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 900;
}

.contenitore-grigio {
    background-color: #f6f8f9;
    padding-top: 50px;
    padding-left: 300px;
}

.primo-blocco {
    background-color: #ffffff;
    display: inline-block;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 10px;
    width: 1000px;
    border-radius: 5%;
}

.task {
    display: inline-block;
    background-color: #47adf1;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 15%;
}

.section {
    display: inline-block;
    border: 2px #dfe2e5 solid;
    color: #dfe2e5;
    padding: 10px 10px;
    border-radius: 15%;
}